appdirs==1.4.4
audioread==2.1.9
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
cycler==0.10.0
dataclasses==0.6
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
future==0.18.2
html5lib==1.0.1
idna==2.10
ipaddr==2.2.0
joblib==0.17.0
kaggle==1.5.10
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.35.0
lockfile==0.12.2
matplotlib==3.3.3
msgpack==0.6.2
numba==0.52.0
numpy==1.19.4
packaging==20.7
pandas==1.1.5
pep517==0.8.2
Pillow==8.0.1
plotly==4.14.1
pooch==1.3.0
progress==1.5
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
python-slugify==4.0.1
pytoml==0.1.21
pytz==2020.4
requests==2.25.0
resampy==0.2.2
retrying==1.3.3
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sounddevice==0.4.1
SoundFile==0.10.3.post1
text-unidecode==1.3
threadpoolctl==2.1.0
torch==1.7.0
torchaudio==0.7.0
tqdm==4.54.1
typing-extensions==3.7.4.3
urllib3==1.26.2
webencodings==0.5.1
